# Vlad Volkov — Perfil: Scan Furtivo
# Mínimo de ruído, evitar detecção

[target]
# url = definido via linha de comando

[request]
randomAgent = True
delay = 3
timeout = 30
retries = 1
safeFreq = 3

[detection]
level = 1
risk = 1
technique = BT

[optimization]
threads = 1

[general]
batch = True
