# Vlad Volkov — Perfil WAF: Cloudflare
# Uso: Alvos protegidos por Cloudflare
# Comando: sqlmap -u "URL" --config=configs/waf_cloudflare.cfg

[Target]
# url = http://alvo.com/pagina.php?id=1

[Request]
random-agent = True
delay = 2
timeout = 60
retries = 5

[Optimization]
threads = 2
predict-output = True
keep-alive = True

[Detection]
level = 2
risk = 1
technique = BEUST

[Tamper]
tamper = space2comment,randomcase,charencode

[General]
batch = True
smart = True
